name: Cache Demo

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup cache
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-4e7d382

      - name: prime-cache-4e7d382
        run: echo "Cache hit - ${{ steps.cache-step.outputs.cache-hit }}"
